# [MY_MODULE@MY_SUBMODULE]
# MY_EVENT=full.class.name:event_method

[MODULE@EXAMPLE]
HELLO_EVENT=modules.example.exevent.ExampleEvent:example_event

[TASM@HREMAS]
HREMAS_UPDATE=modules.tasm.HREmpUpdateSearchDB:update_emp_search_db

