amqp==5.0.9
certifi==2021.10.8
charset-normalizer==2.0.11
idna==3.3
jproperties==2.1.1
paho-mqtt==1.5.1
pkg_resources==0.0.0
PyJWT==2.3.0
python-dotenv==0.19.2
requests==2.27.1
requests-jwt==0.6.0
six==1.16.0
stompest==2.3.0
urllib3==1.26.8
vine==5.0.0
